<html>
<h1>Open-source XRB Pool</h1>
<form action="/redirect" method="POST">
  Your XRB Address <input type="text" name="xrb_address" size="64">
  <input type="submit" value="Submit">
</form>
<p>Or add your raiblocks wallet address to the url e.g.</p>
<p>http://46.101.95.140:5000/pool/xrb_1zfnd3uaibxbyb6pgp19qiiom1wja3an9htcmrmfx59bjmofd8big3ucmpjk </p>
<h3>Pages</h3>
<ul>
<li><a href="/stats">Stats</a></li>
<li><a href="https://github.com/jamescoxon/rai_quarry_pool">Code</a></li>
</ul>

<h3>Features</h3>
<ul>
<li>Opensource</li>
<li>No Fees</li>
<li>Runs on a lightweight server</li>
<li>Uses readily available libraries and modules</li>
<li>Detects expected payout and calculates shares</li>
</ul>
</html>
